<div class="page" ng-controller="ControllerMain">
	<div class="options">
		<ul>
			<li><img ng-src='../materials/tamewater/logo.png' /></li>
			<li>&nbsp;</li>
			<li><a ng-href="#/" ng-Tranny="'Back'"></a></li>
			<li><a ng-href="#/tamewateroptions/" ng-Tranny="'Options'"></a></li>
			<li>&nbsp;</li>
			<li><a ng-click="OpenURL( 'https://steamcommunity.com/groups/TamewaterGamingCommunity' )" ng-Tranny="'Steam Group'"></a></li>
			<li><a ng-click="OpenURL( 'https://discord.gg/tamewater' )" ng-Tranny="'Discord'"></a></li>
			<li><a ng-click="OpenURL( 'https://tamewater.com/' )" ng-Tranny="'Website'"></a></li>
			<li><a ng-click="OpenURL( 'https://tamewater.com/forums' )" ng-Tranny="'Forums'"></a></li>
			<li><a ng-click="OpenURL( 'https://tamewater.com/donate/' )" ng-Tranny="'Donate'"></a></li>
			<li>&nbsp;</li>
			<h1 style="color:DarkGreen; font-size:130%">Teamspeak</h1>
			<li><a ng-click="SetClipboardText( 'Tamewater' )" ng-Tranny="'Copy Teamspeak IP'"></a></li>
			<li>&nbsp;</li>
			<h1 style="color:DeepSkyBlue; font-size:130%">Clone Wars RP</h1>
			<li><a ng-click="MenuOption( this, 'engine connect 208.103.169.86:27015' )" ng-Tranny="'Join'"></a></li>
			<li><a ng-click="OpenWorkshopFile( '1569288701' )" ng-Tranny="'Content Pack'"></a></li>
			<li>&nbsp;</li>
			<h1 style="color:Salmon; font-size:130%">SCPRP</h1>
			<li><a ng-click="MenuOption( this, 'engine connect 208.103.169.193:27015' )" ng-Tranny="'Join'"></a></li>
			<li><a ng-click="OpenWorkshopFile( '2102456909' )" ng-Tranny="'Content Pack'"></a></li>
		</ul>
	</div>
</div>