<div class="page" ng-controller="ControllerMain">
	<div class="options">
		<ul>
            <li><img ng-src='../materials/tamewater/logo.png' /></li>
			<li>&nbsp;</li>
            <li><a ng-href="#/tamewatermenu/" ng-Tranny="'Back'"></a></li>
            <li>&nbsp;</li>
            <h1 style="font-size:130%">Background Style</h1>
            <li><a ng-click="SelectGamemode( {name:'sandbox', title:'Sandbox'} )" ng-Tranny="'Sandbox'"></a></li>
            <li><a ng-click="SelectGamemode( {name:'terrortown', title:'Trouble in Terrorist Town'} )" ng-Tranny="'TTT'"></a></li>
			<li><a ng-click="SelectGamemode( {name:'starwarsrp', title:'StarWarsRP'} )" ng-Tranny="'Star Wars'"></a></li>
			<li><a ng-click="SelectGamemode( {name:'scprp', title: 'SCPRP'} )" ng-Tranny="'SCP'"></a></li>
        </ul>
	</div>
</div>