
	<div class="page" ng-controller="ControllerMain">

		<div class="options">

			<ul>

				<li><img ng-src='../materials/tamewater/logo.png' /></li>
				<li>&nbsp;</li>
				<li><a ng-href="#/" ng-Tranny="'Back'"></a></li>
				<li>&nbsp;</li>
				<li><a ng-click="OpenURL( 'https://steamcommunity.com/groups/TamewaterGamingCommunity' )" ng-Tranny="'Steam Group'"></a></li>
				<li><a ng-click="OpenURL ( 'http://tamewater.com/' )" ng-Tranny="'Website'"></a></li>
				<li><a ng-click="OpenURL( 'http://tamewater.com/forums' )" ng-Tranny="'Forums'"></a></li>
				<li><a ng-click="OpenURL( 'http://tamewater.com/donate/' )" ng-Tranny="'Donate'"></a></li>
				<li><a ng-click="SetClipboardText( '208.103.169.47:9988' )" ng-Tranny="'Copy Teamspeak IP'"></a></li>
				<li>&nbsp;</li>
				<h1 style="color:DeepSkyBlue; font-size:130%">Clone Wars RP</h1>
				<li><a ng-click="MenuOption( this, 'engine connect 208.103.169.86:27015' )" ng-Tranny="'Join'" style="color:DeepSkyBlue"></a></li>
				<li><a ng-click="OpenWorkshopFile( '1569288701' )" ng-Tranny="'Content Pack'" style="color:DeepSkyBlue"></a></li>

			</ul>

		</div>

	</div>
